{% extends 'edx/base.html' %}
{% load core_extras %}
{% load i18n %}
{% load django_markup %}

{% block title %}
  {% trans "Order Not Found" as tmsg %}{{ tmsg | force_escape }}
{% endblock title %}

{% block navbar %}
  {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
  <div id="error-container">
    <div class="error-message container depth depth-2 message-error-content"
      style="margin-top: 1.2rem">
        <h3 class="title">
          <span class="sr">{% filter force_escape %}{% blocktrans %} {{ error_summary }} {% endblocktrans %}{% endfilter %}</span>
          {{ error_summary }}
        </h3>
        <div class="copy">
          <p>{% trans "The specified order could not be located. Please ensure that the URL is correct, and try again." as tmsg %}{{ tmsg | force_escape }}</p>
          <br/>
        </div>
        <div class="msg">
          <p>
            {% captureas link_start %}
              <a href="{{ order_history_url }}">
            {% endcaptureas %}
            {% blocktrans asvar tmsg %}
              Puede ver sus ordenes de pago previas en la página de {link_start}{order_history_url}{link_middle}{link_end}Configuración de la cuenta{link_end}
            {% endblocktrans %}
            {% interpolate_html tmsg link_start='<a href="'|safe link_middle='">'|safe link_end='</a>'|safe order_history_url=order_history_url|safe %}
          </p>
        </div>
      </div>
  </div>
{% endblock content %}
