<div class="form-group">
  <label for="nombres" class="col-sm-2 control-label">Nombres</label>
  <div class="col-sm-10">
      <input type="text" class="form-control" id="nombres" aria-describedby="Pon tus nombres aqui"
          placeholder="Nombres" name="first_name" required>
  </div>
</div>
<div class="form-group">
  <label for="apellidoP" class="col-sm-2 control-label">Apellidos</label>
  <div class="col-sm-5">
      <input type="text" class="form-control" id="apellidoP"
          aria-describedby="Pon tu apellido paterno aqui" placeholder="Apellido paterno"
          name="last_name_1" required>
  </div>
  <div class="col-sm-5">
      <input type="text" class="form-control" id="apellidoM"
          aria-describedby="Pon tu apellido materno aqui" placeholder="Apellido materno"
          name="last_name_2">
      <small id="last_name_help" class="form-text text-muted">Si no aplica puede dejar este campo
          vacío.</small>
  </div>
</div>
<div class="form-group">
  <label for="bId" class="col-sm-2 control-label">Rut o Pasaporte</label>
  <div class="col-sm-5">
      <select class="form-control" id="bId" aria-describedby="identificacion option"
          name="id_option" required>
          <option value="0">RUT</option>
          <option value="1">Pasaporte</option>
      </select>
  </div>
  <div class="col-sm-5">
      <input type="text" class="form-control" id="bId" aria-describedby="identificacion"
          placeholder="11111111-1 o Pasaporte" maxlength="14" name="id_number" required>
  </div>
</div>
<div class="form-group">
  <label for="bAddress" class="col-sm-2 control-label">Dirección</label>
  <div class="col-sm-10">
      <input type="text" class="form-control" id="bAddress"
          aria-describedby="direccion de facturacion" placeholder="Calle, numero, departamento"
          name="billing_address" required>
  </div>
</div>
<div class="form-group">
  <label for="bDisctrict" class="col-sm-2 control-label">Comuna y Ciudad</label>
  <div class="col-sm-5">
      <select class="form-control" id="bDisctrict" aria-describedby="direccion: comuna"
          placeholder="Comuna" name="billing_district" required>
          <option value="ABTAO">ABTAO</option>
          <option value="ACHAO">ACHAO</option>
          <option value="AGUA BUENA">AGUA BUENA</option>
          <option value="AHUI">AHUI</option>
          <option value="AIQUINA">AIQUINA</option>
          <option value="ALERCE">ALERCE</option>
          <option value="ALGARROBAL">ALGARROBAL</option>
          <option value="ALGARROBITO">ALGARROBITO</option>
          <option value="ALGARROBO">ALGARROBO</option>
          <option value="ALHUE">ALHUE</option>
          <option value="ALICAHUE">ALICAHUE</option>
          <option value="ALTO BIO BIO">ALTO BIO BIO</option>
          <option value="ALTO DEL CARMEN">ALTO DEL CARMEN</option>
          <option value="ALTO EL CANELO">ALTO EL CANELO</option>
          <option value="ALTO HOSPICIO">ALTO HOSPICIO</option>
          <option value="ALTO JAHUEL">ALTO JAHUEL</option>
          <option value="ALTOVALSOL">ALTOVALSOL</option>
          <option value="ANCUAQUE">ANCUAQUE</option>
          <option value="ANCUD">ANCUD</option>
          <option value="ANDACOLLO">ANDACOLLO</option>
          <option value="ANGOL">ANGOL</option>
          <option value="ANTARTICA">ANTARTICA</option>
          <option value="ANTOFAGASTA">ANTOFAGASTA</option>
          <option value="ANTUCO">ANTUCO</option>
          <option value="ARAUCO">ARAUCO</option>
          <option value="ARICA">ARICA</option>
          <option value="ARTIFICIO">ARTIFICIO</option>
          <option value="BAHIA INGLESA">BAHIA INGLESA</option>
          <option value="BAHIA MANSA">BAHIA MANSA</option>
          <option value="BAHIA MURTA">BAHIA MURTA</option>
          <option value="BALMACEDA">BALMACEDA</option>
          <option value="BAQUEDANO">BAQUEDANO</option>
          <option value="BARRANCAS">BARRANCAS</option>
          <option value="BATUCO">BATUCO</option>
          <option value="BATUCO (RM)">BATUCO (RM)</option>
          <option value="BATUCO (TALCA)">BATUCO (TALCA)</option>
          <option value="BELEN">BELEN</option>
          <option value="BELLOTO">BELLOTO</option>
          <option value="BOBADILLA">BOBADILLA</option>
          <option value="BOLLENAR">BOLLENAR</option>
          <option value="BUCALEMU">BUCALEMU</option>
          <option value="BUCHUPUREO">BUCHUPUREO</option>
          <option value="BUIN">BUIN</option>
          <option value="BULNES">BULNES</option>
          <option value="C. DEL MAIPO">C. DEL MAIPO</option>
          <option value="CABILDO">CABILDO</option>
          <option value="CABRERO">CABRERO</option>
          <option value="CABURGA">CABURGA</option>
          <option value="CACHAGUA">CACHAGUA</option>
          <option value="CACHAPOAL">CACHAPOAL</option>
          <option value="CAHUIL">CAHUIL</option>
          <option value="CAIMANES">CAIMANES</option>
          <option value="CAJON">CAJON</option>
          <option value="CAJON DEL MAIPO">CAJON DEL MAIPO</option>
          <option value="CALAFQUEN">CALAFQUEN</option>
          <option value="CALAMA">CALAMA</option>
          <option value="CALBUCO">CALBUCO</option>
          <option value="CALDERA">CALDERA</option>
          <option value="CALERA DE TANGO">CALERA DE TANGO</option>
          <option value="CALETA ANDRADE">CALETA ANDRADE</option>
          <option value="CALETA BUENA">CALETA BUENA</option>
          <option value="CALETA GONZALO">CALETA GONZALO</option>
          <option value="CALETONES">CALETONES</option>
          <option value="CALLE LARGA">CALLE LARGA</option>
          <option value="CAMARICO">CAMARICO</option>
          <option value="CAMARONES">CAMARONES</option>
          <option value="CAMERON">CAMERON</option>
          <option value="CAMINA">CAMINA</option>
          <option value="CAMPANARIO">CAMPANARIO</option>
          <option value="CANCOSA">CANCOSA</option>
          <option value="CANELA">CANELA</option>
          <option value="CANETE">CANETE</option>
          <option value="CANTO DE AGUA">CANTO DE AGUA</option>
          <option value="CAPITAN PASTENE">CAPITAN PASTENE</option>
          <option value="CAQUENA">CAQUENA</option>
          <option value="CARAHUE">CARAHUE</option>
          <option value="CARAMPANGUE">CARAMPANGUE</option>
          <option value="CARELMAPU">CARELMAPU</option>
          <option value="CAREN">CAREN</option>
          <option value="CARIQUIMA">CARIQUIMA</option>
          <option value="CARRIZAL BAJO">CARRIZAL BAJO</option>
          <option value="CARTAGENA">CARTAGENA</option>
          <option value="CASABLANCA">CASABLANCA</option>
          <option value="CASPANA">CASPANA</option>
          <option value="CASTRO">CASTRO</option>
          <option value="CATAPILCO">CATAPILCO</option>
          <option value="CATEMU">CATEMU</option>
          <option value="CAULIN">CAULIN</option>
          <option value="CAUQUENES">CAUQUENES</option>
          <option value="CAYUCUPIL">CAYUCUPIL</option>
          <option value="CERRILLOS">CERRILLOS</option>
          <option value="CERRILLOS DE TAMAYA">CERRILLOS DE TAMAYA</option>
          <option value="CERRO NAVIA">CERRO NAVIA</option>
          <option value="CERRO SOMBRERO">CERRO SOMBRERO</option>
          <option value="CIRUELOS">CIRUELOS</option>
          <option value="CIUDAD DE LOS VALLES">CIUDAD DE LOS VALLES</option>
          <option value="COBIJA">COBIJA</option>
          <option value="COBQUECURA">COBQUECURA</option>
          <option value="COCHAMO">COCHAMO</option>
          <option value="COCHRANE">COCHRANE</option>
          <option value="CODEGUA">CODEGUA</option>
          <option value="CODELCO RADOMIRO TOMIC">CODELCO RADOMIRO TOMIC</option>
          <option value="CODIGUA">CODIGUA</option>
          <option value="CODPA">CODPA</option>
          <option value="COELEMU">COELEMU</option>
          <option value="COIHUE">COIHUE</option>
          <option value="COIHUECO">COIHUECO</option>
          <option value="COINCO">COINCO</option>
          <option value="COLBUN">COLBUN</option>
          <option value="COLCHANE">COLCHANE</option>
          <option value="COLINA">COLINA</option>
          <option value="COLIUMO">COLIUMO</option>
          <option value="COLTAUCO">COLTAUCO</option>
          <option value="COLLACAGUA">COLLACAGUA</option>
          <option value="COLLIPULLI">COLLIPULLI</option>
          <option value="COMBARBALA">COMBARBALA</option>
          <option value="CONARIPE">CONARIPE</option>
          <option value="CONAY">CONAY</option>
          <option value="CONCEPCION">CONCEPCION</option>
          <option value="CONCON">CONCON</option>
          <option value="CONCHALI">CONCHALI</option>
          <option value="CONSTITUCION">CONSTITUCION</option>
          <option value="CONTULMO">CONTULMO</option>
          <option value="COPIAPO">COPIAPO</option>
          <option value="COQUIMBO">COQUIMBO</option>
          <option value="CORONEL">CORONEL</option>
          <option value="CORRAL">CORRAL</option>
          <option value="COSAPILLA">COSAPILLA</option>
          <option value="COYA">COYA</option>
          <option value="COYHAIQUE">COYHAIQUE</option>
          <option value="COZ COZ">COZ COZ</option>
          <option value="CULENAR">CULENAR</option>
          <option value="CULIPRAN">CULIPRAN</option>
          <option value="CUMPEO">CUMPEO</option>
          <option value="CUNACO">CUNACO</option>
          <option value="CUNCO">CUNCO</option>
          <option value="CUNCUMEN">CUNCUMEN</option>
          <option value="CURACAUTIN">CURACAUTIN</option>
          <option value="CURACAVI">CURACAVI</option>
          <option value="CURACO DE VELEZ">CURACO DE VELEZ</option>
          <option value="CURANILAHUE">CURANILAHUE</option>
          <option value="CURANIPE">CURANIPE</option>
          <option value="CURARREHUE">CURARREHUE</option>
          <option value="CURAUMA">CURAUMA</option>
          <option value="CUREPTO">CUREPTO</option>
          <option value="CURICO">CURICO</option>
          <option value="CURIMON">CURIMON</option>
          <option value="CURINANCO">CURINANCO</option>
          <option value="CUYA">CUYA</option>
          <option value="CHACAO">CHACAO</option>
          <option value="CHAITEN">CHAITEN</option>
          <option value="CHAMPA">CHAMPA</option>
          <option value="CHANARAL">CHANARAL</option>
          <option value="CHANARAL ALTO">CHANARAL ALTO</option>
          <option value="CHANARAL DE CAREN">CHANARAL DE CAREN</option>
          <option value="CHANCO">CHANCO</option>
          <option value="CHAÑARAL">CHAÑARAL</option>
          <option value="CHARRUA">CHARRUA</option>
          <option value="CHAUQUEN">CHAUQUEN</option>
          <option value="CHEPICA">CHEPICA</option>
          <option value="CHEPU">CHEPU</option>
          <option value="CHERQUENCO">CHERQUENCO</option>
          <option value="CHICUREO">CHICUREO</option>
          <option value="CHIGUAYANTE">CHIGUAYANTE</option>
          <option value="CHILE CHICO">CHILE CHICO</option>
          <option value="CHILLAN">CHILLAN</option>
          <option value="CHILLAN VIEJO">CHILLAN VIEJO</option>
          <option value="CHILLEPIN">CHILLEPIN</option>
          <option value="CHIMBARONGO">CHIMBARONGO</option>
          <option value="CHOCALAN">CHOCALAN</option>
          <option value="CHOL CHOL">CHOL CHOL</option>
          <option value="CHOLCHOL">CHOLCHOL</option>
          <option value="CHOLGUAN">CHOLGUAN</option>
          <option value="CHONCHI">CHONCHI</option>
          <option value="CHOSHUENCO">CHOSHUENCO</option>
          <option value="CHUQUICAMATA">CHUQUICAMATA</option>
          <option value="DALCAHUE">DALCAHUE</option>
          <option value="DEGAN">DEGAN</option>
          <option value="DESTINO">DESTINO</option>
          <option value="DICHATO">DICHATO</option>
          <option value="DIEGO DE ALMAGRO">DIEGO DE ALMAGRO</option>
          <option value="DOMEYKO">DOMEYKO</option>
          <option value="DONIHUE">DONIHUE</option>
          <option value="DUAO">DUAO</option>
          <option value="EL BELLOTO">EL BELLOTO</option>
          <option value="EL BOSQUE">EL BOSQUE</option>
          <option value="EL CANELO">EL CANELO</option>
          <option value="EL CARMEN">EL CARMEN</option>
          <option value="EL CARMEN CHILLAN">EL CARMEN CHILLAN</option>
          <option value="EL CARMEN RENGO">EL CARMEN RENGO</option>
          <option value="EL COLORADO">EL COLORADO</option>
          <option value="EL HINOJAL">EL HINOJAL</option>
          <option value="EL INGENIO">EL INGENIO</option>
          <option value="EL MANZANO">EL MANZANO</option>
          <option value="EL MELOCOTON">EL MELOCOTON</option>
          <option value="EL MELON">EL MELON</option>
          <option value="EL MEMBRILLO">EL MEMBRILLO</option>
          <option value="EL MOLLE">EL MOLLE</option>
          <option value="EL MONTE">EL MONTE</option>
          <option value="EL PAICO">EL PAICO</option>
          <option value="EL PALQUI">EL PALQUI</option>
          <option value="EL PENON">EL PENON</option>
          <option value="EL QUISCO">EL QUISCO</option>
          <option value="EL SALADO">EL SALADO</option>
          <option value="EL SALVADOR">EL SALVADOR</option>
          <option value="EL SAUCE">EL SAUCE</option>
          <option value="EL TABITO">EL TABITO</option>
          <option value="EL TABO">EL TABO</option>
          <option value="EL TAMBO">EL TAMBO</option>
          <option value="EL TANGUE">EL TANGUE</option>
          <option value="EMPEDRADO">EMPEDRADO</option>
          <option value="ENSENADA">ENSENADA</option>
          <option value="ENTRE LAGOS">ENTRE LAGOS</option>
          <option value="ERCILLA">ERCILLA</option>
          <option value="ESQUINA">ESQUINA</option>
          <option value="ESTACION CENTRAL">ESTACION CENTRAL</option>
          <option value="ESTACION PAIPOTE">ESTACION PAIPOTE</option>
          <option value="FARELLONES">FARELLONES</option>
          <option value="FLORIDA">FLORIDA</option>
          <option value="FREIRE">FREIRE</option>
          <option value="FREIRINA">FREIRINA</option>
          <option value="FRESIA">FRESIA</option>
          <option value="FRUTILLAR">FRUTILLAR</option>
          <option value="FUERTE BAQUEDANO">FUERTE BAQUEDANO</option>
          <option value="FUTALEUFU">FUTALEUFU</option>
          <option value="FUTRONO">FUTRONO</option>
          <option value="GABRIELA MISTRAL">GABRIELA MISTRAL</option>
          <option value="GALVARINO">GALVARINO</option>
          <option value="GENERAL LAGOS">GENERAL LAGOS</option>
          <option value="GORBEA">GORBEA</option>
          <option value="GRANEROS">GRANEROS</option>
          <option value="GUADAL">GUADAL</option>
          <option value="GUAITECAS">GUAITECAS</option>
          <option value="GUALLECO">GUALLECO</option>
          <option value="GUANAQUEROS">GUANAQUEROS</option>
          <option value="GUANGUALI">GUANGUALI</option>
          <option value="GUAPILACUY">GUAPILACUY</option>
          <option value="GUARDIA VIEJA">GUARDIA VIEJA</option>
          <option value="GUAYACAN">GUAYACAN</option>
          <option value="HACIENDA LOS ANDES">HACIENDA LOS ANDES</option>
          <option value="HIJUELAS">HIJUELAS</option>
          <option value="HORCON">HORCON</option>
          <option value="HORCON IV">HORCON IV</option>
          <option value="HORNITOS">HORNITOS</option>
          <option value="HORNOPIREN">HORNOPIREN</option>
          <option value="HOSPITAL">HOSPITAL</option>
          <option value="HUALAIHUE">HUALAIHUE</option>
          <option value="HUALANE">HUALANE</option>
          <option value="HUALPEN">HUALPEN</option>
          <option value="HUALPENCILLO">HUALPENCILLO</option>
          <option value="HUALQUI">HUALQUI</option>
          <option value="HUAMALATA">HUAMALATA</option>
          <option value="HUARA">HUARA</option>
          <option value="HUASCO">HUASCO</option>
          <option value="HUECHURABA">HUECHURABA</option>
          <option value="HUELDEN">HUELDEN</option>
          <option value="HUELQUEN">HUELQUEN</option>
          <option value="HUELLAHUE">HUELLAHUE</option>
          <option value="HUENTELAUQUEN">HUENTELAUQUEN</option>
          <option value="HUEPIL">HUEPIL</option>
          <option value="HUILLINCO">HUILLINCO</option>
          <option value="HUINTIL">HUINTIL</option>
          <option value="ICALMA">ICALMA</option>
          <option value="ILOCA">ILOCA</option>
          <option value="ILLAPEL">ILLAPEL</option>
          <option value="INDEPENDENCIA">INDEPENDENCIA</option>
          <option value="IQUIQUE">IQUIQUE</option>
          <option value="ISLA DE MAIPO">ISLA DE MAIPO</option>
          <option value="ISLA DE PASCUA">ISLA DE PASCUA</option>
          <option value="ISLA JUAN FERNANDEZ">ISLA JUAN FERNANDEZ</option>
          <option value="ISLA NEGRA">ISLA NEGRA</option>
          <option value="ISLA TEJA">ISLA TEJA</option>
          <option value="ISLUGA">ISLUGA</option>
          <option value="ITAHUE">ITAHUE</option>
          <option value="JUNCAL">JUNCAL</option>
          <option value="LA ARENA">LA ARENA</option>
          <option value="LA CALERA">LA CALERA</option>
          <option value="LA CEBADA">LA CEBADA</option>
          <option value="LA CISTERNA">LA CISTERNA</option>
          <option value="LA CRUZ">LA CRUZ</option>
          <option value="LA CHIMBA">LA CHIMBA</option>
          <option value="LA DEHESA">LA DEHESA</option>
          <option value="LA ESTRELLA">LA ESTRELLA</option>
          <option value="LA FLORIDA">LA FLORIDA</option>
          <option value="LA GRANJA">LA GRANJA</option>
          <option value="LA HAUYCA">LA HAUYCA</option>
          <option value="LA HERRADURA">LA HERRADURA</option>
          <option value="LA HIGUERA">LA HIGUERA</option>
          <option value="LA JARILLA">LA JARILLA</option>
          <option value="LA JUNTA">LA JUNTA</option>
          <option value="LA LIGUA">LA LIGUA</option>
          <option value="LA MARQUESA">LA MARQUESA</option>
          <option value="LA NEGRA">LA NEGRA</option>
          <option value="LA NEGRA (ANTOFAGASTA)">LA NEGRA (ANTOFAGASTA)</option>
          <option value="LA OBRA">LA OBRA</option>
          <option value="LA PARVA">LA PARVA</option>
          <option value="LA PINTANA">LA PINTANA</option>
          <option value="LA PLACILLA (PUNITAQUI)">LA PLACILLA (PUNITAQUI)</option>
          <option value="LA REINA">LA REINA</option>
          <option value="LA RUFINA">LA RUFINA</option>
          <option value="LA SERENA">LA SERENA</option>
          <option value="LA TAPERA">LA TAPERA</option>
          <option value="LA TIRANA">LA TIRANA</option>
          <option value="LA UNION">LA UNION</option>
          <option value="LABRANZA">LABRANZA</option>
          <option value="LAGO RANCO">LAGO RANCO</option>
          <option value="LAGO VERDE">LAGO VERDE</option>
          <option value="LAGUNA ACULEO">LAGUNA ACULEO</option>
          <option value="LAGUNA BLANCA">LAGUNA BLANCA</option>
          <option value="LAGUNA VERDE">LAGUNA VERDE</option>
          <option value="LAGUNILLAS">LAGUNILLAS</option>
          <option value="LAJA">LAJA</option>
          <option value="LAJAS BLANCAS">LAJAS BLANCAS</option>
          <option value="LAMPA">LAMPA</option>
          <option value="LANCO">LANCO</option>
          <option value="LARAQUETE">LARAQUETE</option>
          <option value="LARMAHUE">LARMAHUE</option>
          <option value="LAS BREAS">LAS BREAS</option>
          <option value="LAS CABRAS">LAS CABRAS</option>
          <option value="LAS CARDAS">LAS CARDAS</option>
          <option value="LAS CARDAS SUR">LAS CARDAS SUR</option>
          <option value="LAS CONDES">LAS CONDES</option>
          <option value="LAS CRUCES">LAS CRUCES</option>
          <option value="LAS DICHAS">LAS DICHAS</option>
          <option value="LAS DUNAS">LAS DUNAS</option>
          <option value="LAS NIEVES">LAS NIEVES</option>
          <option value="LAS RAMADAS DE TULAHUEN">LAS RAMADAS DE TULAHUEN</option>
          <option value="LAS TACAS">LAS TACAS</option>
          <option value="LAS TRANCAS">LAS TRANCAS</option>
          <option value="LAS VENTANAS">LAS VENTANAS</option>
          <option value="LAS VERTIENTES">LAS VERTIENTES</option>
          <option value="LASANA">LASANA</option>
          <option value="LAUTARO">LAUTARO</option>
          <option value="LEBU">LEBU</option>
          <option value="LECHAGUA">LECHAGUA</option>
          <option value="LEYDA">LEYDA</option>
          <option value="LICAN RAY">LICAN RAY</option>
          <option value="LICANRAY">LICANRAY</option>
          <option value="LICANTEN">LICANTEN</option>
          <option value="LIMACHE">LIMACHE</option>
          <option value="LIMARI">LIMARI</option>
          <option value="LINAO">LINAO</option>
          <option value="LINARES">LINARES</option>
          <option value="LINDEROS">LINDEROS</option>
          <option value="LIQUINE">LIQUINE</option>
          <option value="LIRIMA">LIRIMA</option>
          <option value="LIRQUEN">LIRQUEN</option>
          <option value="LITUECHE">LITUECHE</option>
          <option value="LO BARNECHEA">LO BARNECHEA</option>
          <option value="LO CHACON">LO CHACON</option>
          <option value="LO ESPEJO">LO ESPEJO</option>
          <option value="LO MIRANDA">LO MIRANDA</option>
          <option value="LO PRADO">LO PRADO</option>
          <option value="LO VALDES">LO VALDES</option>
          <option value="LO VALDIVIA">LO VALDIVIA</option>
          <option value="LOLOL">LOLOL</option>
          <option value="LOMAS DE LO AGUIRRE">LOMAS DE LO AGUIRRE</option>
          <option value="LONCOCHE">LONCOCHE</option>
          <option value="LONGAVI">LONGAVI</option>
          <option value="LONGOVILO">LONGOVILO</option>
          <option value="LONQUEN">LONQUEN</option>
          <option value="LONQUIMAY">LONQUIMAY</option>
          <option value="LONTUE">LONTUE</option>
          <option value="LOS ALAMOS">LOS ALAMOS</option>
          <option value="LOS ANDES">LOS ANDES</option>
          <option value="LOS ANGELES">LOS ANGELES</option>
          <option value="LOS HORCONES">LOS HORCONES</option>
          <option value="LOS HORNOS">LOS HORNOS</option>
          <option value="LOS LAGOS">LOS LAGOS</option>
          <option value="LOS LAURELES">LOS LAURELES</option>
          <option value="LOS LINGUES">LOS LINGUES</option>
          <option value="LOS LIRIOS">LOS LIRIOS</option>
          <option value="LOS MAITENES">LOS MAITENES</option>
          <option value="LOS MOLLES">LOS MOLLES</option>
          <option value="LOS MUERMOS">LOS MUERMOS</option>
          <option value="LOS NICHES">LOS NICHES</option>
          <option value="LOS OLIVOS">LOS OLIVOS</option>
          <option value="LOS SAUCES">LOS SAUCES</option>
          <option value="LOS VILOS">LOS VILOS</option>
          <option value="LOTA">LOTA</option>
          <option value="LUMACO">LUMACO</option>
          <option value="LLAILLAY">LLAILLAY</option>
          <option value="LLANOS DE GUANTA">LLANOS DE GUANTA</option>
          <option value="LLANQUIHUE">LLANQUIHUE</option>
          <option value="LLAY LLAY">LLAY LLAY</option>
          <option value="LLICO">LLICO</option>
          <option value="LLIFEN">LLIFEN</option>
          <option value="LLO LLEO">LLO LLEO</option>
          <option value="LLOLLEO">LLOLLEO</option>
          <option value="MACUL">MACUL</option>
          <option value="MACHALI">MACHALI</option>
          <option value="MAFIL">MAFIL</option>
          <option value="MAICOLPUE">MAICOLPUE</option>
          <option value="MAIHUE">MAIHUE</option>
          <option value="MAIPO">MAIPO</option>
          <option value="MAIPU">MAIPU</option>
          <option value="MAITENCILLO">MAITENCILLO</option>
          <option value="MALALCAHUELLO">MALALCAHUELLO</option>
          <option value="MALLOA">MALLOA</option>
          <option value="MALLOCO">MALLOCO</option>
          <option value="MAMINA">MAMINA</option>
          <option value="MANAO">MANAO</option>
          <option value="MANDINGA">MANDINGA</option>
          <option value="MARBELLA">MARBELLA</option>
          <option value="MARCHIGUE">MARCHIGUE</option>
          <option value="MARCHIHUE">MARCHIHUE</option>
          <option value="MARIA ELENA">MARIA ELENA</option>
          <option value="MARIA PINTO">MARIA PINTO</option>
          <option value="MATANZAS">MATANZAS</option>
          <option value="MAULE">MAULE</option>
          <option value="MAULLIN">MAULLIN</option>
          <option value="MECHAICO">MECHAICO</option>
          <option value="MEHUIN">MEHUIN</option>
          <option value="MEJILLONES">MEJILLONES</option>
          <option value="MELINKA">MELINKA</option>
          <option value="MELIPEUCO">MELIPEUCO</option>
          <option value="MELIPILLA">MELIPILLA</option>
          <option value="MINAS DEL PRADO">MINAS DEL PRADO</option>
          <option value="MINCHA">MINCHA</option>
          <option value="MININCO">MININCO</option>
          <option value="MOCHA">MOCHA</option>
          <option value="MOLINA">MOLINA</option>
          <option value="MOLINOS">MOLINOS</option>
          <option value="MONTE AGUILA">MONTE AGUILA</option>
          <option value="MONTE AYMOND">MONTE AYMOND</option>
          <option value="MONTE GRANDE">MONTE GRANDE</option>
          <option value="MONTE PATRIA">MONTE PATRIA</option>
          <option value="MONTENEGRO">MONTENEGRO</option>
          <option value="MORRILLOS">MORRILLOS</option>
          <option value="MULCHEN">MULCHEN</option>
          <option value="NACIMIENTO">NACIMIENTO</option>
          <option value="NAHUELTORO">NAHUELTORO</option>
          <option value="NAL">NAL</option>
          <option value="NANCAGUA">NANCAGUA</option>
          <option value="NATALES">NATALES</option>
          <option value="NAVIDAD">NAVIDAD</option>
          <option value="NEGRETE">NEGRETE</option>
          <option value="NELTUME">NELTUME</option>
          <option value="NIEBLA">NIEBLA</option>
          <option value="NINHUE">NINHUE</option>
          <option value="NIPAS">NIPAS</option>
          <option value="NIQUEN">NIQUEN</option>
          <option value="NIREHUAO">NIREHUAO</option>
          <option value="NIRIVILO">NIRIVILO</option>
          <option value="NOGALES">NOGALES</option>
          <option value="NOS">NOS</option>
          <option value="NOVICIADO">NOVICIADO</option>
          <option value="NUEVA ALDEA">NUEVA ALDEA</option>
          <option value="NUEVA BRAUNAU">NUEVA BRAUNAU</option>
          <option value="NUEVA IMPERIAL">NUEVA IMPERIAL</option>
          <option value="NUNOA">NUNOA</option>
          <option value="OLIVAR">OLIVAR</option>
          <option value="OLIVAR ALTO">OLIVAR ALTO</option>
          <option value="OLIVAR BAJO">OLIVAR BAJO</option>
          <option value="OLMUE">OLMUE</option>
          <option value="OSORNO">OSORNO</option>
          <option value="OTROS DESTINOS XV">OTROS DESTINOS XV</option>
          <option value="OVALLE">OVALLE</option>
          <option value="PACHAMA">PACHAMA</option>
          <option value="PADRE HURTADO">PADRE HURTADO</option>
          <option value="PADRE LAS CASAS">PADRE LAS CASAS</option>
          <option value="PAIHUANO">PAIHUANO</option>
          <option value="PAILLACO">PAILLACO</option>
          <option value="PAINE">PAINE</option>
          <option value="PAIPOTE">PAIPOTE</option>
          <option value="PALENA">PALENA</option>
          <option value="PALMILLA">PALMILLA</option>
          <option value="PALMILLA SAN FERNANDO">PALMILLA SAN FERNANDO</option>
          <option value="PALOMAR">PALOMAR</option>
          <option value="PALQUIAL">PALQUIAL</option>
          <option value="PAN DE AZUCAR">PAN DE AZUCAR</option>
          <option value="PANGAL">PANGAL</option>
          <option value="PANGUIPULLI">PANGUIPULLI</option>
          <option value="PANIMAVIDA">PANIMAVIDA</option>
          <option value="PANQUEHUE">PANQUEHUE</option>
          <option value="PAPOSO">PAPOSO</option>
          <option value="PAPUDO">PAPUDO</option>
          <option value="PARCELA EL CARMEN">PARCELA EL CARMEN</option>
          <option value="PAREDONES">PAREDONES</option>
          <option value="PARGUA">PARGUA</option>
          <option value="PARINACOTA">PARINACOTA</option>
          <option value="PARRAL">PARRAL</option>
          <option value="PAULDEO">PAULDEO</option>
          <option value="PEDREGAL">PEDREGAL</option>
          <option value="PEDRO AGUIRRE CERDA">PEDRO AGUIRRE CERDA</option>
          <option value="PELARCO">PELARCO</option>
          <option value="PELEQUEN">PELEQUEN</option>
          <option value="PELLUHUE">PELLUHUE</option>
          <option value="PEMUCO">PEMUCO</option>
          <option value="PENABLANCA">PENABLANCA</option>
          <option value="PENAFLOR">PENAFLOR</option>
          <option value="PENALOLEN">PENALOLEN</option>
          <option value="PENCAHUE">PENCAHUE</option>
          <option value="PENCO">PENCO</option>
          <option value="PERALILLO">PERALILLO</option>
          <option value="PERQUENCO">PERQUENCO</option>
          <option value="PETORCA">PETORCA</option>
          <option value="PETROHUE">PETROHUE</option>
          <option value="PEUMO">PEUMO</option>
          <option value="PICA">PICA</option>
          <option value="PICHASCA">PICHASCA</option>
          <option value="PICHI PELLUCO">PICHI PELLUCO</option>
          <option value="PICHICUY">PICHICUY</option>
          <option value="PICHIDANGUI">PICHIDANGUI</option>
          <option value="PICHIDEGUA">PICHIDEGUA</option>
          <option value="PICHILEMU">PICHILEMU</option>
          <option value="PILLANLELBUN">PILLANLELBUN</option>
          <option value="PINGUERAL">PINGUERAL</option>
          <option value="PINTO">PINTO</option>
          <option value="PIRQUE">PIRQUE</option>
          <option value="PISCO ELQUI">PISCO ELQUI</option>
          <option value="PITRUFQUEN">PITRUFQUEN</option>
          <option value="PLACILLA (SAN FERNANDO)">PLACILLA (SAN FERNANDO)</option>
          <option value="PLACILLA (VINA DEL MAR)">PLACILLA (VINA DEL MAR)</option>
          <option value="PLACILLA QUINTA REGION">PLACILLA QUINTA REGION</option>
          <option value="PLACILLA SAN FERNANDO">PLACILLA SAN FERNANDO</option>
          <option value="PLACILLA SEXTA REGION">PLACILLA SEXTA REGION</option>
          <option value="PLAYA ANCHA">PLAYA ANCHA</option>
          <option value="POCONCHILE">POCONCHILE</option>
          <option value="POLCURA">POLCURA</option>
          <option value="POLPAICO">POLPAICO</option>
          <option value="POMAIRE">POMAIRE</option>
          <option value="POPETA">POPETA</option>
          <option value="PORTEZUELO">PORTEZUELO</option>
          <option value="PORTILLO">PORTILLO</option>
          <option value="PORVENIR">PORVENIR</option>
          <option value="POZO ALMONTE">POZO ALMONTE</option>
          <option value="PRIMAVERA">PRIMAVERA</option>
          <option value="PROVIDENCIA">PROVIDENCIA</option>
          <option value="PUAUCHO">PUAUCHO</option>
          <option value="PUCATRIHUE">PUCATRIHUE</option>
          <option value="PUCON">PUCON</option>
          <option value="PUCHUNCAVI">PUCHUNCAVI</option>
          <option value="PUDAHUEL">PUDAHUEL</option>
          <option value="PUEBLO SECO">PUEBLO SECO</option>
          <option value="PUELO">PUELO</option>
          <option value="PUENTE ALTO">PUENTE ALTO</option>
          <option value="PUENTE NEGRO">PUENTE NEGRO</option>
          <option value="PUENTE QUILO">PUENTE QUILO</option>
          <option value="PUERTECILLO">PUERTECILLO</option>
          <option value="PUERTO AGUIRRE">PUERTO AGUIRRE</option>
          <option value="PUERTO ALDEA">PUERTO ALDEA</option>
          <option value="PUERTO AYSEN">PUERTO AYSEN</option>
          <option value="PUERTO BERTRAND">PUERTO BERTRAND</option>
          <option value="PUERTO BORIES">PUERTO BORIES</option>
          <option value="PUERTO CISNES">PUERTO CISNES</option>
          <option value="PUERTO CHACABUCO">PUERTO CHACABUCO</option>
          <option value="PUERTO DOMINGUEZ">PUERTO DOMINGUEZ</option>
          <option value="PUERTO MONTT">PUERTO MONTT</option>
          <option value="PUERTO NATALES">PUERTO NATALES</option>
          <option value="PUERTO OCTAY">PUERTO OCTAY</option>
          <option value="PUERTO SAAVEDRA">PUERTO SAAVEDRA</option>
          <option value="PUERTO TORO">PUERTO TORO</option>
          <option value="PUERTO TRANQUILO">PUERTO TRANQUILO</option>
          <option value="PUERTO VARAS">PUERTO VARAS</option>
          <option value="PUERTO VELERO">PUERTO VELERO</option>
          <option value="PUERTO WILLIAMS">PUERTO WILLIAMS</option>
          <option value="PUMANQUE">PUMANQUE</option>
          <option value="PUNITAQUI">PUNITAQUI</option>
          <option value="PUNTA ARENAS">PUNTA ARENAS</option>
          <option value="PUNTA COLORADA">PUNTA COLORADA</option>
          <option value="PUNTA CORONA">PUNTA CORONA</option>
          <option value="PUNTA DE PARRA">PUNTA DE PARRA</option>
          <option value="PUNTA DE TRALCA">PUNTA DE TRALCA</option>
          <option value="PUNTA DELGADA">PUNTA DELGADA</option>
          <option value="PUNTA LAVAPIE">PUNTA LAVAPIE</option>
          <option value="PUNUCAPA">PUNUCAPA</option>
          <option value="PUQUELDON">PUQUELDON</option>
          <option value="PUREN">PUREN</option>
          <option value="PURRANQUE">PURRANQUE</option>
          <option value="PUTAENDO">PUTAENDO</option>
          <option value="PUTRE">PUTRE</option>
          <option value="PUYEHUE">PUYEHUE</option>
          <option value="PUYUHUAPI">PUYUHUAPI</option>
          <option value="QUEBRADA DE TALCA">QUEBRADA DE TALCA</option>
          <option value="QUEILEN">QUEILEN</option>
          <option value="QUELON">QUELON</option>
          <option value="QUELLON">QUELLON</option>
          <option value="QUEMCHI">QUEMCHI</option>
          <option value="QUEPE">QUEPE</option>
          <option value="QUETALMAHUE">QUETALMAHUE</option>
          <option value="QUEULE">QUEULE</option>
          <option value="QUILACO">QUILACO</option>
          <option value="QUILCHE">QUILCHE</option>
          <option value="QUILICURA">QUILICURA</option>
          <option value="QUILIMARI">QUILIMARI</option>
          <option value="QUILPUE">QUILPUE</option>
          <option value="QUILLAGUA">QUILLAGUA</option>
          <option value="QUILLECO">QUILLECO</option>
          <option value="QUILLON">QUILLON</option>
          <option value="QUILLOTA">QUILLOTA</option>
          <option value="QUINCHAMALI">QUINCHAMALI</option>
          <option value="QUINCHAO">QUINCHAO</option>
          <option value="QUINTA DE TILCOCO">QUINTA DE TILCOCO</option>
          <option value="QUINTA NORMAL">QUINTA NORMAL</option>
          <option value="QUINTAY">QUINTAY</option>
          <option value="QUINTERO">QUINTERO</option>
          <option value="QUIRIHUE">QUIRIHUE</option>
          <option value="QUIRIQUINA">QUIRIQUINA</option>
          <option value="RAFAEL">RAFAEL</option>
          <option value="RAMADILLAS">RAMADILLAS</option>
          <option value="RANCAGUA">RANCAGUA</option>
          <option value="RANGUELMO">RANGUELMO</option>
          <option value="RANQUIL">RANQUIL</option>
          <option value="RAPEL">RAPEL</option>
          <option value="RAUCO">RAUCO</option>
          <option value="RAUQUEN">RAUQUEN</option>
          <option value="RAYENCURA">RAYENCURA</option>
          <option value="RECOLETA">RECOLETA</option>
          <option value="RECOLETA IV">RECOLETA IV</option>
          <option value="RENACA">RENACA</option>
          <option value="RENAICO">RENAICO</option>
          <option value="RENCA">RENCA</option>
          <option value="RENGO">RENGO</option>
          <option value="REQUINOA">REQUINOA</option>
          <option value="RETIRO">RETIRO</option>
          <option value="RIHUE">RIHUE</option>
          <option value="RINCONADA">RINCONADA</option>
          <option value="RINCONADA DE GUZMAN">RINCONADA DE GUZMAN</option>
          <option value="RINCONADA DE SILVA">RINCONADA DE SILVA</option>
          <option value="RINIHUE">RINIHUE</option>
          <option value="RININAHUE">RININAHUE</option>
          <option value="RIO BUENO">RIO BUENO</option>
          <option value="RIO CLARO">RIO CLARO</option>
          <option value="RIO HURTADO">RIO HURTADO</option>
          <option value="RIO IBANEZ">RIO IBANEZ</option>
          <option value="RIO NEGRO">RIO NEGRO</option>
          <option value="RIO VERDE">RIO VERDE</option>
          <option value="ROBLE HUACHO">ROBLE HUACHO</option>
          <option value="ROCAS DE SANTO DOMINGO">ROCAS DE SANTO DOMINGO</option>
          <option value="ROMERAL">ROMERAL</option>
          <option value="ROSARIO">ROSARIO</option>
          <option value="RUCA RAQUI (SAAVEDRA)">RUCA RAQUI (SAAVEDRA)</option>
          <option value="RUCAPEQUEN">RUCAPEQUEN</option>
          <option value="RUNGUE">RUNGUE</option>
          <option value="SAGRADA FAMILIA">SAGRADA FAMILIA</option>
          <option value="SALADILLO">SALADILLO</option>
          <option value="SALAMANCA">SALAMANCA</option>
          <option value="SAN ALFONSO">SAN ALFONSO</option>
          <option value="SAN ANTONIO">SAN ANTONIO</option>
          <option value="SAN ANTONIO LLOLLEO">SAN ANTONIO LLOLLEO</option>
          <option value="SAN BERNARDO">SAN BERNARDO</option>
          <option value="SAN BERNARDO (NOS)">SAN BERNARDO (NOS)</option>
          <option value="SAN CARLOS">SAN CARLOS</option>
          <option value="SAN CLEMENTE">SAN CLEMENTE</option>
          <option value="SAN ESTEBAN">SAN ESTEBAN</option>
          <option value="SAN FABIAN DE ALICO">SAN FABIAN DE ALICO</option>
          <option value="SAN FELIPE">SAN FELIPE</option>
          <option value="SAN FERNANDO">SAN FERNANDO</option>
          <option value="SAN FRANCISCO DE LIMACHE">SAN FRANCISCO DE LIMACHE</option>
          <option value="SAN FRANCISCO DE MOSTAZAL">SAN FRANCISCO DE MOSTAZAL</option>
          <option value="SAN GABRIEL">SAN GABRIEL</option>
          <option value="SAN GREGORIO">SAN GREGORIO</option>
          <option value="SAN IGNACIO">SAN IGNACIO</option>
          <option value="SAN JAVIER">SAN JAVIER</option>
          <option value="SAN JOAQUIN">SAN JOAQUIN</option>
          <option value="SAN JOSE DE LA MARIQUINA">SAN JOSE DE LA MARIQUINA</option>
          <option value="SAN JOSE DE MAIPO">SAN JOSE DE MAIPO</option>
          <option value="SAN JUAN">SAN JUAN</option>
          <option value="SAN JUAN DE LA COSTA">SAN JUAN DE LA COSTA</option>
          <option value="SAN JULIAN">SAN JULIAN</option>
          <option value="SAN MANUEL">SAN MANUEL</option>
          <option value="SAN MARCOS">SAN MARCOS</option>
          <option value="SAN MIGUEL">SAN MIGUEL</option>
          <option value="SAN NICOLAS">SAN NICOLAS</option>
          <option value="SAN PABLO">SAN PABLO</option>
          <option value="SAN PEDRO DE ALCANTARA">SAN PEDRO DE ALCANTARA</option>
          <option value="SAN PEDRO DE ATACAMA">SAN PEDRO DE ATACAMA</option>
          <option value="SAN PEDRO DE LA PAZ">SAN PEDRO DE LA PAZ</option>
          <option value="SAN PEDRO DE MELIPILLA">SAN PEDRO DE MELIPILLA</option>
          <option value="SAN PEDRO QUINTA REGION">SAN PEDRO QUINTA REGION</option>
          <option value="SAN RAFAEL">SAN RAFAEL</option>
          <option value="SAN RAMON">SAN RAMON</option>
          <option value="SAN ROSENDO">SAN ROSENDO</option>
          <option value="SAN SEBASTIAN">SAN SEBASTIAN</option>
          <option value="SAN VICENTE DE TAGUA TAGUA">SAN VICENTE DE TAGUA TAGUA</option>
          <option value="SANTA BARBARA">SANTA BARBARA</option>
          <option value="SANTA CLARA">SANTA CLARA</option>
          <option value="SANTA CRUZ">SANTA CRUZ</option>
          <option value="SANTA JUANA">SANTA JUANA</option>
          <option value="SANTA MARIA">SANTA MARIA</option>
          <option value="SANTA ROSA DE CHENA">SANTA ROSA DE CHENA</option>
          <option value="SANTIAGO">SANTIAGO</option>
          <option value="SANTO DOMINGO">SANTO DOMINGO</option>
          <option value="SECTOR LA PENA">SECTOR LA PENA</option>
          <option value="SECTOR LA PEÑA">SECTOR LA PEÑA</option>
          <option value="SEWELL">SEWELL</option>
          <option value="SIERRA GORDA">SIERRA GORDA</option>
          <option value="SOCAIRE">SOCAIRE</option>
          <option value="SOCOROMA">SOCOROMA</option>
          <option value="SOCOS">SOCOS</option>
          <option value="SOL NACIENTE">SOL NACIENTE</option>
          <option value="SORA">SORA</option>
          <option value="SOTAQUI">SOTAQUI</option>
          <option value="SOTOCA">SOTOCA</option>
          <option value="STA. ROSA DE CH.">STA. ROSA DE CH.</option>
          <option value="TAL TAL">TAL TAL</option>
          <option value="TALAGANTE">TALAGANTE</option>
          <option value="TALCA">TALCA</option>
          <option value="TALCAHUANO">TALCAHUANO</option>
          <option value="TALTAL">TALTAL</option>
          <option value="TAMBILLO">TAMBILLO</option>
          <option value="TANILVORO">TANILVORO</option>
          <option value="TEMUCO">TEMUCO</option>
          <option value="TENO">TENO</option>
          <option value="TEODORO SCHMIDT">TEODORO SCHMIDT</option>
          <option value="TIERRA AMARILLA">TIERRA AMARILLA</option>
          <option value="TIERRAS BLANCAS">TIERRAS BLANCAS</option>
          <option value="TIGNAMAR">TIGNAMAR</option>
          <option value="TIL TIL">TIL TIL</option>
          <option value="TILTIL">TILTIL</option>
          <option value="TIMAUKEL">TIMAUKEL</option>
          <option value="TIRUA">TIRUA</option>
          <option value="TOCONAO">TOCONAO</option>
          <option value="TOCOPILLA">TOCOPILLA</option>
          <option value="TOLTEN">TOLTEN</option>
          <option value="TOME">TOME</option>
          <option value="TONGOY">TONGOY</option>
          <option value="TOPOCALMA">TOPOCALMA</option>
          <option value="TORRES DEL PAINE">TORRES DEL PAINE</option>
          <option value="TORTEL">TORTEL</option>
          <option value="TOTORALILLO">TOTORALILLO</option>
          <option value="TRAIGUEN">TRAIGUEN</option>
          <option value="TREGUALEMU">TREGUALEMU</option>
          <option value="TREHUACO">TREHUACO</option>
          <option value="TROVOLHUE">TROVOLHUE</option>
          <option value="TRUMAO">TRUMAO</option>
          <option value="TRUPAN">TRUPAN</option>
          <option value="TUBUL">TUBUL</option>
          <option value="TUCAPEL">TUCAPEL</option>
          <option value="TULAHUEN">TULAHUEN</option>
          <option value="VALD. DE PAINE">VALD. DE PAINE</option>
          <option value="VALDIVIA">VALDIVIA</option>
          <option value="VALDIVIA DE PAINE">VALDIVIA DE PAINE</option>
          <option value="VALPARAISO">VALPARAISO</option>
          <option value="VALLE NEVADO">VALLE NEVADO</option>
          <option value="VALLE SIMPSON">VALLE SIMPSON</option>
          <option value="VALLENAR">VALLENAR</option>
          <option value="VEGAS DE ITATA">VEGAS DE ITATA</option>
          <option value="VENTANAS">VENTANAS</option>
          <option value="VICTORIA">VICTORIA</option>
          <option value="VICUNA">VICUNA</option>
          <option value="VICHUQUEN">VICHUQUEN</option>
          <option value="VILCUN">VILCUN</option>
          <option value="VILLA ALEGRE">VILLA ALEGRE</option>
          <option value="VILLA ALEMANA">VILLA ALEMANA</option>
          <option value="VILLA ALHUE">VILLA ALHUE</option>
          <option value="VILLA AMENGUAL">VILLA AMENGUAL</option>
          <option value="VILLA CERRO CASTILLO">VILLA CERRO CASTILLO</option>
          <option value="VILLA MANIHUALES">VILLA MANIHUALES</option>
          <option value="VILLA MERCEDES">VILLA MERCEDES</option>
          <option value="VILLA OHIGGINS">VILLA OHIGGINS</option>
          <option value="VILLA ORTEGA">VILLA ORTEGA</option>
          <option value="VILLA PRAT">VILLA PRAT</option>
          <option value="VILLA SANTA LUCIA">VILLA SANTA LUCIA</option>
          <option value="VILLARRICA">VILLARRICA</option>
          <option value="VILLUCO">VILLUCO</option>
          <option value="VINA DEL MAR">VINA DEL MAR</option>
          <option value="VISVIRI">VISVIRI</option>
          <option value="VITACURA">VITACURA</option>
          <option value="YERBAS BUENAS">YERBAS BUENAS</option>
          <option value="YUMBEL">YUMBEL</option>
          <option value="YUNGAY">YUNGAY</option>
          <option value="YUSTE">YUSTE</option>
          <option value="ZAPALLAR">ZAPALLAR</option>
          <option value="ZEMITA">ZEMITA</option>
      </select>
  </div>
  <div class="col-sm-5">
      <input type="text" class="form-control" id="bCity" aria-describedby="direccion: ciudad"
          placeholder="Ciudad" maxlength="50" name="billing_city" required>
  </div>
</div>
<div style="clear: both;">
  <p>Sus datos sólo se utilizarán para crear su boleta.</p>
</div>
