{% extends "edx/base.html" %} {% block content %}

<div id="error-container">
  <div
    class="error-message container depth depth-2 message-error-content"
    style="margin-top: 1.2rem"
  >
    <h2 class="title" style="font-size: 4rem">
      <span class="sr">Error 500</span>OOPS!<br /><span
        style="font-size: 1.5rem; font-weight: 700"
        >500 - Nuestros servidores sufrieron un error</span
      >
    </h2>
    <p>
      <span class="sr"
        >La página solicitada {{request_path}} no está disponible</span
      >
      La página solicitada {{request_path}} no está disponible
    </p>
    <div class="copy">
      <p>
        Si crees que esto es un error por favor contactate con soporte en la
        página principal.
      </p>
      <br />
    </div>
</div>
{% endblock %}
